@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #141414;
}
.productList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.link{
  text-decoration: none;  
}